
html, body {
	margin: 0;
	padding: 0;

	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #283136;
	line-height: 24px;
}

.clearfix {
	content: '';
	display: table;
	clear: box;
}
.map {
	width: 50%;
}

.service-item {
	width: 300px;
	float: left;
	margin-right: 100px;
}

.partners li {
	float: left;
	margin-right: 100px;
}

.main-footer li {
	float: left;
}